body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.jumbotron > h1{
	text-align: center;
}

#start{
	text-align: center;
	font-size: 800%;
	border-radius: 30px;
	padding: 10px;
}


#filterbox {
	float: right;
}
#filterbox input{
	text-align: right;
}

.carousel-caption { background-color:red;}