<div class="jumbotron">
		<!-- Single button -->
		<div class="btn-group">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <i class="fa fa-bars"></i><span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <li><a href="#"></a></li>
		    <li><a href="#">About</a></li>
		    <li><a href="#">Help</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="#">Edit Cards</a></li>
		    <li><a href="#">Edit Categories</a></li>
		  </ul>
		</div>
  	<h1>ZazzCard</h1>	
</div>


<div class='container first-row'>
		<button class='btn btn-sm btn-info edit' data-toggle='modal' data-target='#new-worker-modal'><i class="fa fa-plus-circle"></i></button>
		<label class="">Add New Employee</label>
		<span id="filterbox"><input class="form-control" size=30 placeholder="Search Employees..." ng-model='filterText'></span>
	</div>



	<div class="container well">
		<div class="card col-xs-12 col-sm-6 col-md-3" ng-repeat="worker in workers | filter:filterText track by $index">
			<img width=100 class="card-img-top" ng-src="{{worker.photourl}}">
			<div class="card-block">
				<h4 class="card-title">{{worker.fname}} {{worker.lname}}</h4>
				<div ng-show='worker.nickname' class="card-text">a.k.a., "{{worker.nickname}}"</div>
				<button ng-click='editWorker(worker)' class='btn btn-sm btn-info edit' data-toggle='modal' data-target='#edit-worker-modal'><i class="fa fa-info-circle"></i></button>
				<button class='btn btn-sm btn-danger delete' ng-click='confirmDelete(worker)'><i class="fa fa-trash"></i></button>
			</div>
		</div>
	</div>